* {
    box-sizing: border-box;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

body {
    padding: 0px 10px;
    font-family: 'Lato', sans-serif;
}

header {
    height: 10rem;
    background-color: #FFDA5B;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    width:100%;
}

header p {
    text-align: center;
    margin-top: 1.5rem;
    margin-left:28rem;
}


header img {
    margin-top: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    position: relative;
    background-color: #EEEEEE;
    margin-top: -5.2rem;
    z-index: -1;
    -webkit-border-radius: 0px 0px 5px 5px; 
    -moz-border-radius:  0px 0px 5px 5px;
    border-radius:  0px 0px 5px 5px;
}

.instructions p {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.1rem;
    padding: 5px;
}

@media (min-width: 750px) {
    .content {
        height: 78rem;
    }

}


input[type="text"] {
    height: 5.3rem !important;
    width: 90%;
    max-width:32rem !important;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.4rem;
    display: block;
    margin-bottom: 1rem;
    
    box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
}

input[type="submit"] {
    height: 5.4rem !important;
    width: 15.9rem !important;
    color:black !important;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold !important;
    font-size: 2.8rem !important;
    text-transform:lowercase !important;
    box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    padding: 0px !important;
    background-color:white !important;
}